#search-boxes{
    padding-top:5vh;
}

.navbar, body, .footer{
    background-color: #e3f2fd;
    background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png");
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #e3f2fd !important;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 6vh;
    background-color: #f5f5f5;
}

.carousel-inner > .item > img{
    margin:auto;
}

.carouselImg{
    max-height:50vh;
}

.carouselContainer{
    padding-top: 2vh;
}